@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 79px;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  color: var(--color-text);
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  text-align: center;
  margin: 50px;
}

.title_2 {
  color: var(--color-text);
  font-size: 25px;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 30px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 14px;
}

.skills {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.skillImageContainer {
  background-color: var(--color-secondary);
  box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 96px;
}

.skillImageContainer img {
  width: 64px;
}

.skill p {
  font-size: 18px;
  font-family: var(--font-roboto);
  font-weight: 500;
  white-space: normal;
  /* Allows wrapping, but prevents breaking words */
  overflow-wrap: normal;
  /* Prevents breaking words */
  word-break: normal;
  /* Ensures normal word breaking behavior */
  max-width: 100px;
  text-align: center;
  margin-top: 7px;
}

.history {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.historyItem {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #19376d;
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  max-height: 400px;
}

.historyItem img {
  width: 64px;
  margin-right: 20px;
}

.historyItemDetails {
  font-family: var(--font-roboto);
}

.historyItemDetails h3 {
  font-size: 30px;
  font-weight: 500;
}

.historyItemDetails p {
  font-size: 20px;
  font-weight: 300;
}

.historyItemDetails ul {
  list-style-position: inside;
  font-size: 25px;
  list-style-type: disc;
}

@media screen {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .skills {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .history {
    width: 100%;
    gap: 10px;
  }
}